.cards{
    margin: 5%;
}
.card{
    width: 70%;
    margin: 5%;
}
#footer p{
    font-size: large;
    font-weight: 500;
}
#footer{
    border: 5px solid black;
    border-radius: 10px;
    margin: 0 5% 5% 5%;
    padding: 20px;
}
.logos{
    display: flex;
    margin-left: 35%;
    margin-bottom: 20px;
}